// Fonts
$font-cormorant: 'Cormorant Garamond', serif;
$font-lora: 'Lora', serif;
$font-base: $font-lora;

// Heading
$h1-desktop: 60px;
$h1-mobile: 92px;
$h2-desktop: 36px;
$h2-mobile: 58px;
$h3-desktop: 32px;
$h3-mobile: 48px;
$h4-desktop: 24px;
$h5-desktop: 20px;
$h6-desktop: 18px;

// Body
$body-large: 16px;
$body-medium: 14px;
$body-regular: 12px;
$body-small: 10px;

// Line Heights
$lh-h1: 115%;
$lh-h2: 115%;
$lh-h3: 115%;
$lh-h4: 115%;
$lh-h5: 115%;
$lh-h6: 115%;
$lh-body: 1.5;
