// src/assets/styles/_typography.scss

@use 'colors' as *;
@use 'variables' as *;
@use 'mixins' as *;

// Global default fonts
:root {
  font-family: $font-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Body text default
body {
  font-family: $font-base;
  @include text(large);
}

// SIMPLE UTILITY CLASSES
.text {
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--brand {
    color: $brand-200;
  }
  &--white {
    color: $color-white;
  }
  &--gray {
    color: $gray-100;
  }
  &--italic {
    font-style: italic;
  }
  &--shadow {
    @include text-shadow;
  }
}
